<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="ban.ico">
     <link rel="stylesheet" href="tailwind.css">
     <link rel="stylesheet" href="css.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Lets Boycott</title>
</head>
<body>
    <div id="app">
        <div class="nav flex justify-between p-3">
            <div></div>
            <div class="nav-link">
                <a href="#" class="px-2 py-1">Health</a>
                <a href="index.html" class="px-2 py-1">Boycott</a>
                <a href="#" class="px-2 py-1">Contact</a>
                <a href="#" class="px-2 py-1">About</a>
            </div>
        </div>
        <div class="flex flex-wrap justify-center text-center p-8 font-semibold shadow my-2 tracking-wider">
            <div class="px-1 text-2xl md:text-4xl">DO WHAT YOU CAN!</div>
            <div class="px-1 text-2xl md:text-4xl">COUP MUST BE FAIL!</div>
        </div>
        <div class="outside-layout lg:px-48 my-3">
            <div class="form flex flex-wrap justify-around p-3">
                <div class="self-center p-2">
                    <input type="text" v-model="keyword" placeholder="keyword" class="w-64 p-3 focus:outline-none rounded-lg shadow">
                </div>
                <div class="p-2">
                    <div class="rounded-lg bg-gray-50 shadow">
                        <form @submit.prevent="filter()" method="GET">
                            <select name="cate" v-model="cate" class="w-56 p-3 focus:outline-none rounded-lg">
                                <option value="Banking & finance">Banking & finance</option>
                                <option value="Cigarettes">Cigarettes</option>
                                <option value="Communications">Communications</option>
                                <option value="Construction">Construction</option>
                                <option value="Entertainment & Tourism">Entertainment/Tourism</option>
                                <option value="Food & drink">Food & drink</option>
                                <option value="Health & Beauty Products">Health & Beauty Products</option>
                                <option value="Health Servcies">Health Servcies</option>
                                <option value="Industrial Estates & Offices">Industrial Estates/Offices</option>
                                <option value="International Trade">International Trade</option>
                                <option value="Manufacturing">Manufacturing</option>
                                <option value="Media">Media</option>
                                <option value="Retail">Retail</option>
                                <option value="Trading companies">Trading companies</option>
                                <option value="Transport">Transport</option>
                            </select>                   
                            <button><i class="fas fa-search p-4 focus:outline-none hover:bg-gray-300 rounded-r-lg"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content p-3">
                <div class="data-bg-style bg-white border-4 border-yellow-500 rounded-t-xl">
                    <table class="table-fixed w-full">
                        <thead class="">
                            <tr class="text-black bg-yellow-500 text-lg">
                                <th class="py-2">Photo</th>
                                <th class="py-2">Name</th>
                                <th class="py-2">Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="items.length == 0">
                                <td colspan="3" class="text-center py-5"><i class="fas fa-sync-alt loading text-xl text-blue-300"></i></td>
                            </tr>
                            <tr v-for="row in rows" :key="row.id" class="border-b">
                                <td><a :href="'boycott_photo/'+row.photo" target="blank"><img :src="'boycott_photo/'+row.photo" :alt="row.photo" class="w-36 h-36 m-auto p-3"></a></td>
                                <td class="text-center">{{ row.name }}</td>
                                <td class="text-center">{{ row.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="text-center py-8 bg-gray-800">
            <div class="py-6 px-3 text-md text-gray-400">Contact me via:
                <a href="https://t.me/DeleteYourCode"><i class="fab fa-telegram p-1 text-blue-500 text-2xl"></i></a>
                <a href="https://twitter.com/ThuYankyaw"><i class="fab fa-twitter p-1 text-blue-400 text-2xl"></i></a>
            </div>
            <div class="py-6 px-3 text-sm text-gray-300">Copyright<i class="far fa-copyright px-1"></i>Boycotts for<span class="px-1 font-semibold">REVOLUTION</span>by<span class="pl-1 font-semibold">Creator</span>. All right reserved.</div>
        </footer>
    </div>
    <div class="fixed right-8 bottom-8 md:right-12 md:bottom-12">
        <button class="rounded-full bg-blue-200 shadow-lg"><a href="#app"><i class="fas fa-chevron-up p-5"></i></a></button>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data() {
                return {
                    cate: '',
                    keyword: null,
                    column: 'name',
                    items: [],
                }
            },
            computed: {
                rows() {
                    return this.items.filter(item => {
                        let props = (this.keyword && this.column) ? [item[this.column]] : Object.values(item)
                        return props.some(prop => !this.keyword || ((typeof prop === 'string') ? (prop).toLowerCase().includes((this.keyword).toLowerCase()) : (prop).toLowerCase().toString(10).includes((this.keyword).toLowerCase())))
                    })
                },
            },
            created() {
                axios
                    .get('https://creatorcreated.000webhostapp.com/api/all')
                    .then(response => (
                        this.items = response.data
                    ))
            },
            methods: {
                filter() {
                    axios
                        .get('https://creatorcreated.000webhostapp.com/api/select/'+this.cate)
                        .then(response => (
                            this.items = response.data
                        ))
                },
            },
        })
    </script>
</body>
</html>
