body {
     background: #EBEBEB;
     font-family: 'Nunito';
}
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }
  /* for IE */
  select::-ms-expand {
    display: none;
  }

.text_animation {
  animation: text_animate 3s linear infinite alternate-reverse;
}

@keyframes text_animate {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100%{opacity: 1;}
}